@import 'icons';
@import 'responsive';

html {

    box-sizing: border-box;
    
	* {
        box-sizing: inherit;
        
		&:before {
			box-sizing: inherit;
        }
        
		&:after {
			box-sizing: inherit;
		}
	}
}

body {
	max-width: 100%;
	padding: 1em;
	margin: 0 auto;
	color: #161616;
	font-family: 'Work Sans', sans-serif;
    background-color: currentColor;
    text-align: center;

    // HEADER
    
    .header {
        display: flex;
        flex-direction: column;

        h1 {
            color: #fff;
            text-transform: capitalize;
            font-size: 4rem;
        }

        .input-box {
            margin: 0 auto;
            display: flex;
            align-items: center;

            select {
                background-color: #14A3C7;
                border: none;
                padding: 1rem 4rem 1rem 2rem;
                font-size: 1.2rem;
                color: #fff;
                appearance: none;
                cursor: pointer;
                transition: all .15s ease-in-out;
                background-image: url('..//img/chevron-down.png');
                background-size: 1.5rem;
                background-repeat: no-repeat;
                background-position: right 20px center, right bottom, right bottom, right bottom;
                outline: none;

                &:hover {
                    background-color: #0f9abd;
                }

                option {
                    background-color: #14A3C7;
                    border: none;
                }
            }
        }
    }

    .icons {
        flex-direction: column;
    }

    // CITY

    .city {
        margin-top: 4rem;
        color: #fff;
        border: 1px solid white;
        padding: 2rem;

        .heading-box {
            margin-bottom: 4rem;

            .name {
                color: #14A3C7;
                font-size: 2rem;
                margin-bottom: -4rem;
            }
    
            .temperature {
                font-size: 5rem;
                margin-bottom: -1.5rem;
            }
    
            .feeling {
                font-size: 1rem;
                font-weight: lighter;
            }
        }

        .content-box {
            
            p {
                font-size: 1.2rem;
                font-weight: lighter;
            }
        }
    }

    // ICONS 

    .icons {

        .icons-flex {
            margin-top: 4rem !important;
        }
    }
}


